@import "../colors";

.gradientContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gradientWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    overflow: hidden;
}

.gradientLight {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: .9;
}

.gradientColorBlue {
    background: radial-gradient(circle, $blue 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
}

.gradientColorRed {
    background: radial-gradient(circle, $red 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
}

.gradientColorYellow {
    background: radial-gradient(circle, $yellow 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
}