@import "colors";

.textarea {
    display: inline-block;
    width: 100%;
    height: 105px;
    padding: 1em;
    border-radius: 10px;
    letter-spacing: 1px;
    border: 2px solid #ecf0f2;
    color: $grey;
    background: #f5f7f7;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.input {
    display: inline-block;
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    letter-spacing: 1px;
    border: 2px solid #ecf0f2;
    color: $grey;
    background: #f5f7f7;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.input:hover, .textarea:hover {
    background: 'white';
}

.label {
    display: block;
    font-weight: 500;
    margin-bottom: 2em;
}